[Unit]
Description=Crawl service
After=multi-user.target
[Service]
Type=simple
Restart=on-failure
ExecStart=/opt/rh/rh-python38/root/usr/bin/python /var/www/html/search-engine/run_crawl.py
[Install]
WantedBy=multi-user.target